@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .search-item {
    padding: 10px 16px;
    font-size: 14px;
    border-right: 1px solid #F2F2F2;
  }
  .search-item button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .search-button {
    background: none;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
  }
  
  .search-icon {
    color: #EB5757;
  }

